<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "0.5.2"
        version     = "0.5.2" >

    <name>Recipe ionic App</name>

    <description>
        Cool app.
    </description>

    <author href="https://build.phonegap.com/apps/1695219/" email="vistavnoy.oleg@mail.ru">
        Oleg V
    </author>

    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />

    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</widget>